Django>=3.2.18

gunicorn==21.2.0
tensorflow-cpu==2.15.0  # 2.15.0.post1の代わりに
keras>=2.15.0,<2.16  # tensorflow-cpuに合わせたバージョン指定
numpy>=1.22,<1.24  # 正確な範囲を指定
Pillow>=8.0.0  # 正しいバージョン表記に変更

sqlparse==0.4.4
tzdata==2023.3

rembg==2.0.52
dj-database-url
dj-static
python-decouple
django-environ
psycopg2-binary
whitenoise
